
@{
    ViewBag.Title = "Thay đổi mật khẩu";
    if (Session["accountRole"].Equals("1"))
    {
        ViewBag.PageIndex = 4;
        Layout = "~/Views/Shared/_AdminLayout.cshtml";
    }
    else
    {
        ViewBag.PageIndex = 2;
        Layout = "~/Views/Shared/_AdminRoomLayout.cshtml";
    }

}
<script src="~/Scripts/jquery-3.3.1.min.js"></script>
<script src="~/Scripts/Custom/validate-change-password.js"></script>
<link rel="stylesheet" href="~/Content/Theme/bootstrap.min.css">

<div class="mdk-header-layout__content top-navbar mdk-header-layout__content--scrollable h-100"
     style="padding-bottom: 65px;">
    <div class="container-fluid">
        <center>
            <h3>Thay Đổi Mật Khẩu</h3>
        </center>
        <br>
        <div class="container card shadow" style="max-width: 450px; padding: 15px;">
            <form action="/Account/ChangePassword" method="post" onsubmit="return validateChangePass()">
                <div class="form-group">
                    <label for="accountID">Tên đăng nhập</label>
                    <input type="text" readonly name="accountID" id="accountID" class="form-control" value="@{if (Session["account"] != null) { Write(Session["account"]); } }">
                </div>
                <div class="form-group">
                    <label for="oldPassword">Mật khẩu cũ</label>
                    <input type="password" name="oldPassword" id="oldPassword" class="form-control">
                    <div class="pt-2" style="color:red; font-style:italic; font-size: smaller"><span class="error-message pl-0" id="error-old-password"></span></div>
                </div>
                <div class="form-group">
                    <label for="newPassword">Mật khẩu mới</label>
                    <input type="password" name="newPassword" id="newPassword" class="form-control">
                    <div class="pt-2" style="color:red; font-style:italic; font-size: smaller"><span class="error-message pl-0" id="error-new-password"></span></div>
                </div>
                <div class="form-group">
                    <label for="newPasswordConfirm">Xác nhận mật khẩu</label>
                    <input type="password" name="newPasswordConfirm" id="newPasswordConfirm" class="form-control">
                    <div class="pt-2" style="color:red; font-style:italic; font-size: smaller"><span class="error-message pl-0" id="error-new-password-confirm"></span></div>
                </div>
                <button type="submit" class="btn btn-primary w-100" name="btnChangePassword" id="btnChangePassword">Thay đổi mật khẩu</button>
            </form>
        </div>
    </div>
</div>
